@import "variables";
@import "Academia";
@import "torneos";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header""menu""footer";
    font-family: BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.titulos{
    margin: 3em;
        text-align: center;
        color: map-get($colores-web, primario);
        text-shadow: map-get($colores-web, shadow) 0.5px .5px .5px;
        text-decoration-line: underline;
        text-decoration-style: initial;
        text-decoration-color: map-get($colores-web, primario);
        letter-spacing: .2rem;
        margin: 0.5em;
        padding: 0.5em;
}
header {
    grid-area: header;
    background-color: map-get($colores-web, primario);

    nav {

        div {
            @include position(flex, column, center, center);

            @media screen and (min-width:1024px) {
                flex-direction: row;
                width: 100%;
            }

            a {
                text-decoration: none;

                @include position (flex, column, center, center);

                @media screen and (min-width:1024px) {
                    flex-direction: row;
                }

                img {
                    @include sizes(15%, auto);
                    padding: 0em;
                    margin: 10px;
                }

                span {
                    font-size: 1em;
                    font-style: italic;
                    font-weight: bold;
                    color: map-get($colores-web, texto);

                    @media screen and (min-width:1024px) {
                        width: 160px;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 10px 0px;

            @media screen and (min-width:1024px) {
                display: flex;
                flex-direction: row;
            }


            li {
                padding: 4px;

                a {
                    text-decoration: none;
                    padding: 2px;
                    color: map-get($colores-web, invertido);
                    font-weight: bold;

                    &:hover {
                        color: map-get($colores-web, hover);
                    }
                }
            }
        }
    }
}


main {
    grid-area: menu;
    @include position(flex, column, center, center);
    text-align: center;

    .quienesSomos {
        margin: .5em;
        padding: .5em;
        @include position(flex, column, center, center);

        iframe {
            @include sizes(32rem, 21rem);
            @include position(flex, column, center, center);
            padding: 8px;
        }

        div {
            margin: .5em;
            padding: .5em;
            text-align: center;
            width: 90vw;
        }
    }

    h2 {
        @extend .titulos;
        font-size: 40px;

    }
 h3{
    @extend .titulos;
    font-size: 20px;
 }


}

.cointeiner2 {
    display: none;
}

.tarjetas {
    @extend .cointeiner2;
}

.tabla {
    margin: 1em 0, 5em;
    @include sizes (70%, auto);
    background-color: map-get($colores-web, invertido);
    text-align: center;
    box-shadow: map-get($colores-web, shadow) .3rem .3rem .1rem .2rem;

    table {
        border-collapse: collapse;
        width: 100%;

        th {
            background-color: map-get($colores-web, primario);
            color: map-get($colores-web, invertido);
            text-shadow: .4rem;
            padding: 9px;
        }


        td {
            padding: 0.5em;
            border: map-get($colores-web, texto) 1px solid;
        }
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }
}

.contenedorMapa {
    @include sizes (70vw, 100%);
    margin: 60px;
    padding: 20px;

    iframe {
        @include sizes (100%, 60%);
        border: 1px solid map-get($colores-web, primario);
        box-shadow: map-get($colores-web, shadow).3rem .3rem .1rem .2rem;

    }
}

footer {
    grid-area: footer;
    border-top: 12px solid map-get($colores-web, texto);
    background-color: map-get($colores-web, primario);
    color: map-get($colores-web, invertido);
    @include sizes(100%, 14rem);

    .enlace {
        @extend .cointeiner2;

    }

    .blanco {
        @extend .cointeiner2;
    }

    .contenedor_enlace {
        @extend .cointeiner2;
    }

    .contenedor_contacto {
        @include position(flex, column, center, center);
        border-bottom: 2px solid map-get($colores-web, invertido);

        .contactoFooter {
            display: flex;
            flex-direction: row;

            li {
                padding: 10px;
                margin: 0px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: map-get($colores-web, invertido);
                    border-top: map-get($colores-web, invertido) 2px solid;

                    &:hover {
                        color: map-get($colores-web, hover);
                    }
                }
            }
        }
    }
}

.imageFooter {
    display: flex;
    height: 50%;
    max-width: 90%;
    justify-content: space-around;
    padding: 9px;
    border-top: #fff solid 2px;

    .federacion {
        @include sizes(auto, 100%);
        margin: 10px;
    }

    .bullpadel {
        @include sizes(auto, 50%);
        margin: 10px
    }

    .logoFooter {
        @include sizes(auto, 100%);
        margin: 10px;
    }
}


.menusponsor {
    background-color: map-get($colores-web, primario);
    margin: 0;
    height: 100%;
}

.cajaSlidefijo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/panoramica.jpg);
}